<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href='/stylesheets/style.css' />
</head>
<body>
    <div>
        <header>
            <div class="navHeader"></div>
            <div class="nav">
                <div class="navList">
                    <div><a href="/">首页</a></div>
                    <% for(let i =0;i<category.length;i++){ %>
                        <div>
                            <a href="/category/<%=category[i].id%>/page/1"><%=category[i].category%></a>
                        </div>
                    <% } %>
                    <div>
                        <input type="text" value="" id="searchtxt">
                        <button id="searchbtn">搜索</button>
                    </div>
                </div>
            </div>
        </header>
        <div class="content">
            <div class="left">
                <% for(let i=0;i<book.length;i++) {%>
                    <a href="/book/<%-book[i].id%>">
                        <div class="bookitem">
                            <img src="<%-book[i].imgurl%>" alt="">
                            <h2><%-book[i].bookname%></h2>
                            <p><%-book[i].author%></p>
                            <p><%-book[i].category%></p>
                        </div>
                    </a>
                <%}%>
            </div>
            <div class="right">
                <img src="https://sobooks.cc/AD/330push.jpg" alt="">
            </div>
        </div>
        <div class="pagination">
            <div class="page">
                <%if(pageInfo.cid !== 1){%>
                <div><a href="/category/<%-pageInfo.cateid%>/page/<%-(pageInfo.cid-1)%>">上一页</a></div>
                <%}%>
                <%for(let i=pageInfo.startPage;i<=pageInfo.endPage;i++){%>
                <div <% if(pageInfo.cid==i){ %>
                        class="active page-num"
                    <% }else{ %>
                        class="page-num"
                    <%}%> ><a href="/category/<%-pageInfo.cateid%>/page/<%-i%>"><%-i%></a></div>
                <%}%>
                <%if(pageInfo.cid !== pageInfo.pageNum){%>
                <div><a href="/category/<%-pageInfo.cateid%>/page/<%-(pageInfo.cid+1)%>">下一页</a></div>
                <%}%>
                <div class="total">共<%-pageInfo.pageNum%>页</div>
            </div>
        </div>
    </div>
    <script src="/javascripts/search.js"></script>
</body>
</html>